*.pcapng
*.npy
*.mat
*.pcap
*.bin
corruption_test/object_detection_segmentation/datasets
corruption_test/object_detection_segmentation/loss_datasets
corruption_test/object_detection_segmentation/yolov8
corruption_test/object_detection_segmentation/yolov5



